
.frame1920wlight-section19 {
    top: 8550.81005859375px;
    left: 0px;
    z-index: 1;
    width: 1500px;
    height: 633.4099731445312px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgb(223, 48, 48);
  }
  .frame1920wlight-container31 {
    top: 80px;
    z-index: 10;
    left: 320px;
    width: 1020px;
    height: 673.4099731445312px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .frame1920wlight-starsvg5 {
    top: 1px;
    left: 15px;
    width: 14px;
    height: 14px;
    position: absolute;
  }
  .frame1920wlight-text234 {
    left: 39px;
    color: rgba(163, 163, 163, 1);
    width: 59px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame1920wlight-heading24 {
    top: 26px;
    left: 15px;
    width: 625px;
    height: 78px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .frame1920wlight-text235 {
    top: 38px;
    color: rgba(0, 0, 0, 1);
    width: 149px;
    height: auto;
    position: absolute;
    font-size: 29.53125px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 39px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame1920wlight-image21 {
    top: 17.440000534057617px;
    left: 0px;
    width: 259px;
    height: 30.75px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .frame1920wlight-faq-light-linesvgfill {
    top: 0px;
    left: 0px;
    width: 259px;
    height: 31px;
    position: absolute;
  }
  .frame1920wlight-text236 {
    top: -1px;
    color: rgba(0, 0, 0, 1);
    width: 259px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 39px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame1920wlight-nav3 {
    top: 134px;
    left: 15px;
    width: 196px;
    height: 354px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 15px;
  }
  .frame1920wlight-list4 {
    top: 0px;
    left: 0px;
    width: 196px;
    height: 354px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(30, 30, 30, 1);
  }
  .frame1920wlight-item27 {
    top: 99px;
    left: 30px;
    width: 63px;
    height: 19px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .frame1920wlight-text237 {
    color: rgba(153, 153, 153, 1);
    width: 64px;
    height: auto;
    position: absolute;
    font-size: 12.25px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame1920wlight-item28 {
    top: 158px;
    left: 30px;
    width: 136px;
    height: 19px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .frame1920wlight-text238 {
    color: rgba(153, 153, 153, 1);
    width: 136px;
    height: auto;
    position: absolute;
    font-size: 13.234375px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame1920wlight-item29 {
    top: 217px;
    left: 30px;
    width: 136px;
    height: 38px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .frame1920wlight-text239 {
    color: rgba(153, 153, 153, 1);
    width: 93px;
    height: auto;
    position: absolute;
    font-size: 13.015625px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame1920wlight-text240 {
    top: 19px;
    color: rgba(153, 153, 153, 1);
    width: 47px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame1920wlight-item30 {
    top: 295px;
    left: 30px;
    width: 127px;
    height: 19px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .frame1920wlight-text241 {
    color: rgba(153, 153, 153, 1);
    width: 127px;
    height: auto;
    position: absolute;
    font-size: 12.90625px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame1920wlight-item31 {
    top: 40px;
    left: 30px;
    width: 54px;
    height: 19px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .frame1920wlight-container32 {
    top: 134px;
    left: 240.97999572753906px;
    width: 1024px;
    height: 539.4099731445312px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .frame1920wlight-background-border1 {
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 164.27999877929688px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 229, 229, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
  }
  .frame1920wlight-text242 {
    top: 28.850000381469727px;
    left: 21px;
    color: rgba(23, 23, 23, 1);
    width: 392px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: 25.600000381469727px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame1920wlight-gradientplussvg1 {
    top: 15.4399995803833px;
    left: 984.77001953125px;
    width: 36px;
    height: 35px;
    position: absolute;
  }
  .frame1920wlight-text243 {
    top: 63.279998779296875px;
    left: 21px;
    color: rgba(91, 91, 91, 1);
    width: 863px;
    height: auto;
    position: absolute;
    font-size: 13px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 19.510000228881836px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame1920wlight-text244 {
    color: rgba(91, 91, 91, 1);
    font-weight: 400;
    text-decoration: NONE;
  }
  .frame1920wlight-text245 {
    color: rgba(178, 33, 42, 1);
    font-weight: 500;
    text-decoration: UNDERLINE;
  }
  .frame1920wlight-background-border2 {
    top: 174.27999877929688px;
    left: 0px;
    width: 1024px;
    height: 81.27999877929688px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 229, 229, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
  }
  .frame1920wlight-text253 {
    top: 28.850000381469727px;
    left: 21px;
    color: rgba(23, 23, 23, 1);
    width: 412px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: 25.600000381469727px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame1920wlight-gradientplussvg2 {
    top: 23px;
    left: 967.02001953125px;
    width: 36px;
    height: 35px;
    position: absolute;
  }
  .frame1920wlight-background-border3 {
    top: 265.57000732421875px;
    left: 0px;
    width: 1024px;
    height: 81.27999877929688px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 229, 229, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
  }
  .frame1920wlight-text254 {
    top: 28.84000015258789px;
    left: 21px;
    color: rgba(23, 23, 23, 1);
    width: 385px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: 25.600000381469727px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame1920wlight-gradientplussvg3 {
    top: 23px;
    left: 967.02001953125px;
    width: 36px;
    height: 35px;
    position: absolute;
  }
  .frame1920wlight-background-border4 {
    top: 356.8500061035156px;
    left: 0px;
    width: 1024px;
    height: 81.27999877929688px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 229, 229, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
  }
  .frame1920wlight-text255 {
    top: 28.84000015258789px;
    left: 21px;
    color: rgba(23, 23, 23, 1);
    width: 401px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: 25.600000381469727px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame1920wlight-gradientplussvg4 {
    top: 23px;
    left: 967.02001953125px;
    width: 36px;
    height: 35px;
    position: absolute;
  }
  .frame1920wlight-background-border5 {
    top: 448.1300048828125px;
    left: 0px;
    width: 1024px;
    height: 81.27999877929688px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 229, 229, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
  }
  .frame1920wlight-text256 {
    top: 28.84000015258789px;
    left: 21px;
    color: rgba(23, 23, 23, 1);
    width: 763px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: 25.600000381469727px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame1920wlight-gradientplussvg5 {
    top: 23px;
    left: 967.02001953125px;
    width: 36px;
    height: 35px;
    position: absolute;
  }
